.p-inputtext:enabled:focus {
    outline: none;
    box-shadow: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.pb-small {
  padding: 1px; /* Adjust padding as needed */
  font-size: 12rem!important; /* Adjust font size as needed */
}
