.product__card--thumbnail {
    height: 200px;
}

.product__card--thumbnail__img {
    height: 100%;
    width: 100%;
    object-fit: cover
}

.account__login--input {
    margin-bottom: 0;
}

.account__login--inner label {
    margin-bottom: 1rem;
}

.swal2-popup {
    font-size: 1.6rem !important;
}

.widget__categories--menu__img{
    width: 8rem;
}